# Copyright 2008 Kevin Ryde

# This file is part of Gtk2-Ex-TiedListColumn.
#
# Gtk2-Ex-TiedListColumn is free software; you can redistribute it
# and/or modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 3, or
# (at your option) any later version.
#
# Gtk2-Ex-TiedListColumn is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty
# of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with Gtk2-Ex-TiedListColumn.  If not, see <http://www.gnu.org/licenses/>.


Source: libgtk2-ex-tiedlistcolumn-perl
Section: perl
Priority: optional
Build-Depends: cdbs, debhelper (>= 4)
Maintainer: Kevin Ryde <user42@zip.com.au>
Standards-Version: 3.8.0
Homepage: http://www.geocities.com/user42_kevin/gtk2-ex-tiedlistcolumn/index.html
Bugs: mailto:user42@zip.com.au

Package: libgtk2-ex-tiedlistcolumn-perl
Architecture: all
Depends: libgtk2-perl, ${misc:Depends}
Description: Perl tied array accessing a Gtk TreeModel object
 Gtk2::Ex::TiedListColumn ties an array to a column of a
 Gtk2::TreeModel object.  Reading and writing the array reads and
 modifies the underlying object.
